:root {
    --bg-url-mobile: url(./assets/bg-mobile.jfif);
    --bg-url-desktop: url(./assets/bg-desktop.jpeg);
  }
  
  h1, h2, h3, p {
    text-align: center; /* Centraliza o texto */
  }
  
  h1 {
    font-size: 70px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  h3 {
    font-size: 50px;
  }
  
  p {
    font-size: 15px;
    text-align: justify; /* Justifica o texto */
    line-height: 1.6; /* Espaçamento entre linhas */
    margin: 0 auto; /* Centraliza o parágrafo */
    max-width: 800px; /* Largura máxima do parágrafo */
  }
  
  @media only screen and (max-width: 600px) {
    h1 {
      font-size: 40px; /* Reduz o tamanho da fonte para dispositivos móveis */
    }
  
    h2 {
      font-size: 20px; /* Reduz o tamanho da fonte para dispositivos móveis */
    }
  
    h3 {
      font-size: 30px; /* Reduz o tamanho da fonte para dispositivos móveis */
    }
  
    p {
      font-size: 12px; /* Reduz o tamanho da fonte para dispositivos móveis */
    }
  
    .content {
      max-width: 90%; /* Define a largura máxima da área de conteúdo para dispositivos móveis */
      margin: 0 auto; /* Centraliza o conteúdo na tela */
    }
  
    body {
      text-align: center; /* Centraliza todo o conteúdo no corpo */
    }
  }
  
  .content {
    max-width: 800px; /* Define a largura máxima da área de conteúdo para dispositivos de tela grande */
    margin: 0 auto; /* Centraliza o conteúdo na tela */
  }
  
  body {
    background: var(--bg-url-mobile) no-repeat top center/cover;
    height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
  }
  
  .background-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: var(--bg-url-mobile) no-repeat center center fixed;
    background-size: cover;
  }
  
  /* Media query para dispositivos desktop */
  @media only screen and (min-width: 601px) {
    .background-mobile {
      display: none; /* Oculta o fundo em dispositivos desktop */
    }
  
    body {
      background: var(--bg-url-desktop) no-repeat top center/cover;
      background-size: cover; /* Adiciona a propriedade para cobrir toda a tela */
    }
  }
  